// animation loader
@keyframes loader{
  0%{
    opacity: 1;
  }
  99%{
    opacity: 1;
    z-index: 2;
  }
  100%{
    opacity: 0;
    z-index: -999;
  }
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

// animation carte menu
  // rotation coche
@keyframes rotate-check{
    0% {
        transform: rotate( 0deg ) scale( 1 );
      }
      20% {
        transform: rotate( 30deg ) scale( 1 );
      }
      50% {
        transform: rotate( -180deg ) scale( 1.4 );
      }
      100% {
        transform: rotate( -360deg ) scale( 1 );
      }
}
  // apparation de la liste
@keyframes fadein {
    0% {
        opacity:0;
        transform: translateY(2em);
    }
    100% {
        opacity:1;
    }
}
